body.popup-page header {
    display: none;
}

body.popup-page .default-layout {
    margin: 0 !important;
    padding: 0 !important;
}

body.popup-page .page-content {
    max-width: none !important;
    margin: 0 !important;
    padding: 20px !important;
}