{% extends "base.html" %}

{% block title %}로그인{% endblock %}

{% block body_class %}login-page{% endblock %}
{% block layout %}login-layout{% endblock %}

{% block content %}
<div class="login-wrapper">
  <div class="login-box">
    <h2 class="login-title">로그인</h2>

    <form method="post" class="login-row">

      <div class="login-fields">
          <div class="field">
              <span class="field-icon">👤</span>
              <input type="text" name="user_id" placeholder="아이디를 입력하세요.">
          </div>

          <div class="field">
              <span class="field-icon">🔒</span>
              <input type="password" name="password" placeholder="비밀번호를 입력하세요.">
          </div>
      </div>

      <button type="submit" class="login-side-btn">로그인</button>
    </form>

  </div>
</div>
{% endblock %}
